@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
}
@layer components {
  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between px-6 py-3;
  }
}
.bottombar_link {
  @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
}
.leftsidebar_link {
  @apply relative flex justify-start gap-4 rounded-lg p-4;
}
.listPage {
  max-width: calc(100vw - 3rem);
  min-height: calc(100vw - 3rem);
}

button[data-outside] {
  @apply text-zinc-700 !important;
}
button[data-weekend] {
  @apply text-red-500 !important;
}
@media screen and (min-width: 768px) {
  .header {
    margin: 56px auto 0;
  }
}
.animated {
  width: 24px;
  height: 24px;
  background-color: #1a1a1a;
  background: linear-gradient(to right, #1a1a1a 10%, #111 40%, #1a1a1a 70%);
  animation: placeholderShimmer 20s linear 0s infinite normal forwards;
  border-radius: 5px;
}
.avatar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.avatar:before {
  position: absolute;
  left: 0;
  content: '';
  background: #fff;
  height: 40px;
}

.avatar-image {
  width: 40px;
  height: 40px;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

/*Slide menu*/

/* Position and sizing of burger button */
.bm-burger-button {
  @apply hidden max-sm:block;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: hsl(var(--primary));
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100% !important;
  left: 0px;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: hsl(var(--background));
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*END Slide menu*/
