@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }
  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }
  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }
}
.bottombar_link {
  @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
}
.leftsidebar_link {
  @apply relative flex justify-start gap-4 rounded-lg p-4;
}
.bottombar_container {
  @apply flex items-center justify-between gap-3 xs:gap-5;
}
.bottombar {
  @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
}
.tabler-icon {
  color: white;
}
/*.icon-placeholder {
  width: 24px;
  height: 24px;
}*/
@media screen and (min-width: 768px) {
  .header {
    margin: 56px auto 0;
  }
}
.animated {
  width: 24px;
  height: 24px;
  background-color: #1a1a1a;
  background: linear-gradient(to right, #1a1a1a 10%, #111 40%, #1a1a1a 70%);
  animation: placeholderShimmer 20s linear 0s infinite normal forwards;
  border-radius: 5px;
}
.avatar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.avatar:before {
  position: absolute;
  left: 0;
  content: '';
  background: #fff;
  height: 40px;
}

.avatar-image {
  width: 40px;
  height: 40px;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

/*Dark mode slider*/

:root {
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.toggle--checkbox {
  display: none;
}
.toggle--checkbox:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}
.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 15px;
  width: 1px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 1px;
  height: 1px;
  top: -6px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 1px;
  height: 1px;
  left: -7.5px;
  top: 5px;
}
.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 50px;
  height: 25px;
  background: var(--blue-color);
  border-radius: 25px;
  border: 1px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}
.toggle--label-background {
  width: 2.5px;
  height: 1px;
  border-radius: 1px;
  position: relative;
  background: var(--white);
  left: 33px;
  top: 10px;
  transition: all 150ms ease-in;
}
.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -1px;
  width: 10px;
  height: 1px;
  border-radius: 1px;
  background: var(--white);
  left: -5px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 1px;
  width: 10px;
  height: 1px;
  border-radius: 1px;
  background: var(--white);
  left: -2.5px;
  transition: all 150ms ease-in;
}
.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid var(--yellow-border);
  top: 1.5px;
  left: 1px;
  position: absolute;
  border-radius: 20px;
  background: var(--yellow-background);
}
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -6.5px 0 0 0.75px,
    var(--gray-dots) -8px 4px 0 0.1px;
  left: 38px;
  top: 5px;
  width: 2.5px;
  height: 2.5px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 1px;
  }
  60% {
    left: 1px;
    width: 27.5px;
  }
  100% {
    left: 27.5px;
    width: 20px;
  }
}
@keyframes reverse {
  0% {
    left: 25px;
    width: 20px;
  }
  60% {
    left: 18px;
    width: 28px;
  }
  100% {
    left: 1px;
  }
}

/*END Dark mode slider*/
